Capstone2_Data_Wrangling.ipynb
Capstone2_presentation.pdf
Capstone_report.pdf
Time_Series_SARIMAX.ipynb
identify_up_and_coming_neighborhoods.ipynb
.DS_Store
.ipynb_checkpoints/
CPI.xlsx
Capstone_Presentation.pptx
Chicago_Housing_Datasets/
Federal_effective_rate.csv
GDP_CookCounty.csv
Unemployment_Rate_Chicago-Naperville-Elgin.csv
building_permit
building_zipcodes
chicago_crime_2001_2020
dow_jones_html
images/Screen Shot 2021-06-23 at 9.35.10 AM.png
images/sold.jpg
pop_income_CookCounty.csv
restaurant_df